{% extends 'base.html' %}

{% block content %}

	<script>UPLOADCARE_PUBLIC_KEY = 'ecd13c8d09e1ab1d0465';</script>
	<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>   

	<div class="container-xl my-5 border border-primary p-3">

		<h1>Add a New Image</h1>

		<form method="post">
		
			<label class="h3 mt-4" for="my_file_input">Image File</label>
			<br>

			<input type="hidden" role="uploadcare-uploader" name="my_file_input" data-system-dialog="true"
			value="{{ request.form['my_file_input'] }}"/>
			
			<br>

			<label class="h3 mt-4" for="title">Title</label>
			<br>
			<input type="text" name="title"
				placeholder="Image title"
				size="60"
				value="{{ request.form['title'] }}"></input>
			<br>

			<label class="h3 mt-4" for="material">Material</label>
			<br>
			<input type="text" name="material"
				placeholder="Image Material and Year of Creation"
				size="60"
				value="{{ request.form['material'] }}"></input>
			<br>

			<label class="h3 mt-4" for="description">Image Description</label>
			<br>
			<textarea name="description"
					placeholder="Image description here"
					rows="8"
					cols="60"
					value="{{ request.form['description'] }}">
				</textarea>
			<br>

			<!-- <label for="category">Category</label>
			<br>
			<input type="text" name="category"
				placeholder="Image Category"
				value="{{ request.form['category'] }}"></input>
			<br> -->

			<button class="btn btn-success mt-5" type="submit">Submit</button>
		</form>
	</div>
{% endblock %}